/*--------------------------------------------------------------
# Font settings
--------------------------------------------------------------*/
body {
  font-family: 'Lato', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Quicksand', sans-serif;
}

/*--------------------------------------------------------------
# Alert settings
--------------------------------------------------------------*/
.komunikat {
  color: red;
  height: 20px;
  font-family: 'Quicksand', sans-serif;
  font-size: smaller;
  padding-left: 10px;
}

.alert {
  margin-top: 5px;
  z-index: 100;
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
  margin-bottom: 76px;
}
/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
#hero {
  width: 100%;
  padding: 50px 0;
  /* background: #aad6ff; */
  background: linear-gradient(233deg, rgba(222, 240, 255, 1) 0%, rgba(173, 217, 255, 1) 75%, rgba(185, 212, 255, 1) 100%);
  border-bottom: 2px solid #4a89c5;
  margin: 72px 0 0 0;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
  text-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
}

#hero h1 {
  margin: 0 0 10px 0;
  font-size: 48px;
  font-weight: 700;
  line-height: 56px;
}
/*--------------------------------------------------------------
# Heronas Section
--------------------------------------------------------------*/
#heronas {
  width: 100%;
  height: 70vh;
  /* background: #aad6ff; */
  background: linear-gradient(233deg, rgba(222, 240, 255, 1) 0%, rgba(173, 217, 255, 1) 75%, rgba(185, 212, 255, 1) 100%);
  text-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
}

#heronas h1 {
  margin: 0 0 10px 0;
  font-size: 48px;
  font-weight: 700;
  line-height: 56px;
}
/*--------------------------------------------------------------
# Hero2 Section
--------------------------------------------------------------*/
#heronas2 {
  width: 100%;
  height: 55vh;
  /* background: #aad6ff; */
  background: linear-gradient(233deg, rgba(222, 240, 255, 1) 0%, rgba(222, 240, 255, 1) 75%, rgba(222, 240, 255, 1) 100%);
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
  text-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
}

#heronas2 h1 {
  margin: 0 0 10px 0;
  font-size: 48px;
  font-weight: 700;
  line-height: 56px;
}



/*--------------------------------------------------------------
# Highlights Section
--------------------------------------------------------------*/
#highlight {
  padding: 60px 0;
  border-bottom: 2px solid #4a89c5;
}

.highlight-bg {
  background-color: #29486d;
}

.highlight-title {
  text-align: center;
  padding-bottom: 45px;
}

.highlight-title h2 {
  text-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
}

.highlight .icon-box {
  padding: 30px;
  position: relative;
  overflow: hidden;
  margin: 0 0 40px 0;
  background: #fff;
  box-shadow: 0 10px 29px 0 rgba(68, 88, 144, 0.1);
  border-radius: 15px;
  text-align: center;
  text-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
}

.highlight .icon i {
  font-size: 48px;
  line-height: 1;
  margin-bottom: 15px;
  color: #4d8eef;
}

.highlight .title {
  font-weight: 700;
  margin-bottom: 15px;
  font-size: 18px;
}

.highlight .description {
  font-size: 15px;
  line-height: 28px;
  margin-bottom: 0;
}
/*--------------------------------------------------------------
# Car Section
--------------------------------------------------------------*/
#car-catalog {
  padding: 30px 0;
  border-bottom: 2px solid #4a89c5;
}

.car-catalog-bg {
  background-color: #dbeeff;
}

.car-catalog-title {
  text-align: center;
  margin-bottom: 80px;
}

.car-catalog-title h2 {
  margin-bottom: 10px;
  text-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
}

.car-catalog-title p {
  padding-bottom: 15px;
  margin-bottom: 15px;
  text-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
}

.car-catalog .icon-box {
  padding: 50px;
  position: relative;
  overflow: hidden;
  margin: 0 0 40px 0;
  background: rgba(255, 255, 255, 0.308);
  box-shadow: 0 10px 29px 0 rgba(68, 88, 144, 0.1);
  border-radius: 15px;
  text-align: center;
  text-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
}

.car-catalog .icon{
  width: 100%;
  object-fit: contain;
}

.car-catalog .description {
  font-size: 15px;
  line-height: 28px;
  margin: auto 0 auto;
}

.car-catalog h3 {
  font-weight: 700;
  font-size: 34px;
}

.car-catalog h4 {
  font-size: 20px;
  font-weight: 700;
  margin-top: 5px;
}

.car-catalog i {
  font-size: 48px;
  margin-top: 15px;
  color: #2b77eb;
}

.car-catalog p {
  font-size: 15px;
  color: #5a6570;
}

/*--------------------------------------------------------------
# Car Body Bootstrap class override
--------------------------------------------------------------*/
.card-body {
  display: flex;
  flex-direction: column;
}

.card-body a {
  margin-top: auto;
}

.card-img-top {
  width: 100%;
  height: 15vh;
  object-fit: contain;
}
/*--------------------------------------------------------------
# Map Section
--------------------------------------------------------------*/
.map-container {
  overflow: hidden;
  padding-bottom: 25em;
  position: relative;
  border-bottom: 2px solid #4a89c5;
}

.map-container iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}

/*--------------------------------------------------------------
# About Us Section
--------------------------------------------------------------*/
#herous {
  width: 100%;
  padding: 70px 0 70px;
  background: linear-gradient(255deg, rgba(147, 211, 255, 1) 0%, rgba(90, 166, 231, 1) 75%, rgba(75, 137, 194, 1) 100%);
  border-bottom: 2px solid #4a89c5;
  /* margin: 72px 0 0 0; */
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
  text-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
  text-align: center;
}

#herous h1 {
  margin: 0 0 10px 0;
  font-size: 48px;
  font-weight: 700;
  line-height: 56px;
}

#about {
  padding: 60px 0 60px;
  background-color: #d3eaff;
}

.about h3 {
  font-weight: 700;
  font-size: 34px;
}

.about h4 {
  font-size: 20px;
  font-weight: 700;
  margin-top: 5px;
}

.about i {
  font-size: 48px;
  margin-top: 15px;
  color: #2b77eb;
}

.about p {
  font-size: 15px;
  color: #5a6570;
}

#highlightus {
  padding: 60px 0;
  border-bottom: 2px solid #4a89c5;
}

.highlightus-bg {
  background-color: #93d3ff;
}

.highlightus-title {
  text-align: center;
  padding-bottom: 45px;
}

.highlightus-title h2 {
  text-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
}

.highlightus .icon-box {
  padding: 30px;
  position: relative;
  overflow: hidden;
  background: #fff;
  box-shadow: 0 10px 29px 0 rgba(68, 88, 144, 0.1);
  border-radius: 15px;
  text-align: center;
  text-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
}

.highlightus .icon i {
  font-size: 48px;
  line-height: 1;
  margin-bottom: 15px;
  color: #4d8eef;
}

.highlightus .title {
  font-weight: 700;
  margin-bottom: 15px;
  font-size: 18px;
}

.highlightus .description {
  font-size: 15px;
  line-height: 28px;
  margin: auto 0 auto;
}
/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
#footer {
  background: #fff;
  padding: 40px 0;
  font-size: 14px;
  background: #fef8f5;
}

#footer h4 {
  font-size: 20px;
}

#footer .footer-newsletter{
  margin-bottom: 20px
}

#footer .footer-newsletter h4 {
  font-size: 20px;
}

#footer .footer-links{
  margin-bottom: 20px;
}

#footer .footer-links ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#footer .footer-links ul i {
  
  font-size: 18px;
  line-height: 1;
}

#footer .footer-links ul li {
  padding: 5px 0;
  display: flex;
  align-items: center;
}

#footer .footer-social{
  margin-bottom: 10px
}

#footer .footer-social a{
  font-size: 30px;
  display: inline-flex;
  margin: 4px 4px;
  text-align: center;
}



.carousel-item-prev,
.carousel-item-next,
.carousel-item.active {
    display:flex;
   
}


/* control image height */
.card-img-top-250 {
    max-height: 250px;
    overflow:hidden;
}

/* smoother transitions */
.carousel-inner>.carousel-item.next.left,
.carousel-inner>.carousel-item.prev.right
{
    transition: all 1s ease;
}
