/*--------------------------------------------------------------
# Font settings
--------------------------------------------------------------*/
body {
  font-family: 'Lato', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Quicksand', sans-serif;
}

/*--------------------------------------------------------------
# Alert settings
--------------------------------------------------------------*/
.komunikat {
  color: red;
  height: 20px;
  font-family: 'Quicksand', sans-serif;
  font-size: smaller;
  padding-left: 10px;
}

.alert {
  margin-top: 5px;
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
}
/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
#hero {
  width: 100%;
  height: 70vh;
  /* background: #aad6ff; */
  background: linear-gradient(233deg, rgba(222, 240, 255, 1) 0%, rgba(173, 217, 255, 1) 75%, rgba(185, 212, 255, 1) 100%);
  border-bottom: 2px solid #4a89c5;
  margin: 72px 0 0 0;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
  text-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
}

#hero h1 {
  margin: 0 0 10px 0;
  font-size: 48px;
  font-weight: 700;
  line-height: 56px;
}
/*--------------------------------------------------------------
# Heronas Section
--------------------------------------------------------------*/
#heronas {
  width: 100%;
  height: 70vh;
  /* background: #aad6ff; */
  background: linear-gradient(233deg, rgba(222, 240, 255, 1) 0%, rgba(173, 217, 255, 1) 75%, rgba(185, 212, 255, 1) 100%);
  text-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
}

#heronas h1 {
  margin: 0 0 10px 0;
  font-size: 48px;
  font-weight: 700;
  line-height: 56px;
}
/*--------------------------------------------------------------
# Hero2 Section
--------------------------------------------------------------*/
#heronas2 {
  width: 100%;
  height: 55vh;
  /* background: #aad6ff; */
  background: linear-gradient(233deg, rgba(222, 240, 255, 1) 0%, rgba(222, 240, 255, 1) 75%, rgba(222, 240, 255, 1) 100%);
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
  text-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
}

#heronas2 h1 {
  margin: 0 0 10px 0;
  font-size: 48px;
  font-weight: 700;
  line-height: 56px;
}



/*--------------------------------------------------------------
# Highlights Section
--------------------------------------------------------------*/
#highlight {
  padding: 60px 0;
  border-bottom: 2px solid #4a89c5;
}

.highlight-bg {
  background-color: #29486d;
}

.highlight-title {
  text-align: center;
  padding-bottom: 30px;
}

.highlight-title h2 {
  margin-bottom: 15px;
  text-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
}

.highlight .icon-box {
  padding: 30px;
  position: relative;
  overflow: hidden;
  margin: 0 0 40px 0;
  background: #fff;
  box-shadow: 0 10px 29px 0 rgba(68, 88, 144, 0.1);
  border-radius: 15px;
  text-align: center;
  text-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
}

.highlight .icon i {
  font-size: 48px;
  line-height: 1;
  margin-bottom: 15px;
  color: #4d8eef;
}

.highlight .title {
  font-weight: 700;
  margin-bottom: 15px;
  font-size: 18px;
}

.highlight .description {
  font-size: 15px;
  line-height: 28px;
  margin-bottom: 0;
}
/*--------------------------------------------------------------
# Car Section
--------------------------------------------------------------*/
#car-catalog {
  padding: 60px 0;
  border-bottom: 2px solid #4a89c5;
}

.car-catalog-bg {
  background-color: #dbeeff;
}

.car-catalog-title {
  text-align: center;
  margin-bottom: 80px;
}

.car-catalog-title h2 {
  margin-bottom: 10px;
  text-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
}

.car-catalog-title p {
  padding-bottom: 15px;
  margin-bottom: 15px;
  text-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
}

.car-catalog .icon-box {
  padding: 50px;
  position: relative;
  overflow: hidden;
  margin: 0 0 40px 0;
  background: rgba(255, 255, 255, 0.308);
  box-shadow: 0 10px 29px 0 rgba(68, 88, 144, 0.1);
  border-radius: 15px;
  text-align: center;
  text-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
}

.car-catalog .icon{
  height: 75px;
  width: 250px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
}
/*--------------------------------------------------------------
# Map Section
--------------------------------------------------------------*/
.map-container {
  overflow: hidden;
  padding-bottom: 25em;
  position: relative;
  border-bottom: 2px solid #4a89c5;
}

.map-container iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
#footer {
  background: #fff;
  padding: 60px 0;
  font-size: 14px;
  background: #fef8f5;
}

#footer .footer-newsletter{
  margin-bottom: 30px;
}

#footer .footer-newsletter h4 {
  font-size: 16px;
}

#footer .footer-links{

}

#footer .footer-social{

}
