/*--------------------------------------------------------------
# Font settings
--------------------------------------------------------------*/
body {
  font-family: 'Lato', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Quicksand', sans-serif;
}

/*--------------------------------------------------------------
# Alert settings
--------------------------------------------------------------*/
.komunikat {
  color: red;
  height: 20px;
  font-family: 'Quicksand', sans-serif;
  font-size: smaller;
  padding-left: 10px;
}

.alert {
  margin-top: 5px;
}

/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/